<footer class="page-footer" style="background-color: lavender;left: 0;bottom: 0;width: 100%;">
    <div class="container text-center">
        <img src="../../images/niclogo.png" alt="NIC" width="15%">
        © 2019 Copyright:
        <a href="https://www.nic.in/"> National Informatics Center, Odisha State Center</a>
    </div>
</footer>
<script src="../../../javascripts/jquery.min.js"></script>
<script src="../../../javascripts/jquery-ui.min.js"></script>
<script>
$.widget.bridge('uibutton', $.ui.button);
</script>
<script src="../../../javascripts/bootstrap.min.js"></script>
<script src="../../../javascripts/adminlte.min.js"></script>
</div>
</body>
</html>